* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#card {
  width: 800px;
  padding: 20px;

  .title-content {
    display: block;
    margin-bottom: 10px;

    .title {
      display: inline;
    }
  }

  .list-container {
    list-style: none;

    .list-item {
      margin: 15px 0;

      .list-item__subTitle {
        margin-bottom: 10px;
        cursor: pointer;
        user-select: none;
      }

      .list-item__info {
        display: none;
        position: absolute;
      }
    }

    .coso {
      position: relative;
    }
  }
}
